<!DOCTYPE html>
<html lang="ko">
    <body>
        <!-- 타이틀 -->
        <h1>맛있는 비밀</h1>

        <!-- 밀키트 버튼 -->
        <a href="https://www.cjcookit.com/pc/main">구매처</a>

        <!-- 검색창 -->
        <div>
            <form method="GET"> <!-- form: 브라우저에 데이터를 보내기 위한 태그 -->
                <input type="text" name="keyword"> <!-- name: 매핑되서 전달할 이름-->
                <button type="submit">검색</button> <!-- 제출 용도로 -->
            </form>
        </div>

        <!-- 카테고리 리스트 -->
        <p>카테고리 리스트</p>

        <!-- 레시피 리스트 -->
        <p>레시피 이미지 리스트, 레시피 이름 리스트</p>

    </body>
</html>